# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignora los archivos del IDE en el que son desarrollados
.idea/

#Ignora archivos de config temporales
*/application.yml
app/src/main/resources/application.yml
